# Auto detect text files and normalize to LF
* text=auto eol=lf

# Explicitly declare text files
*.xml text eol=lf
*.plist text eol=lf
*.swift text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.json text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary